# Call and Response Challenge

## import libraries

## import data

## function to account for inflation 

## merge datasets

In [21]:
## import  libraries 

import pandas as pd

## run the 

pd.options.display.float_format = '{:,.0f}'.format

In [23]:
df_movies = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/movie_sales_2025.csv")
df_movies.head()

,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,Star Wars Ep. VII: The Force Awakens,2015,533200000,936662225,2056046835,936662225,1119384610,2056046835,191160811,247966675,PG-13
1,Avatar: The Way of Water,2022,460000000,684075767,2315589775,684075767,1631514008,2315589775,19136524,134100226,PG-13
2,Indiana Jones and the Dial of Destiny,2023,402300000,174480468,383963057,174480468,209482589,383963057,NaN,60368101,PG-13
3,Avengers: Endgame,2019,400000000,858373000,2748242781,858373000,1889869781,2748242781,107868989,357115007,PG-13
4,Mission: Impossible—The Final Reckoning,2025,400000000,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
## type 

df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Movie Name                             6420 non-null   object
 1   release year                           6420 non-null   int64
 2   Production Budget (USD)                6420 non-null   int64
 3   Domestic Gross (USD)                   6420 non-null   int64
 4   Worldwide Gross (USD)                  6420 non-null   int64
 5   Domestic Box Office (USD)              5815 non-null   float64
 6   International Box Office (USD)         5007 non-null   float64
 7   Worldwide Box Office (USD)             5007 non-null   float64
 8   Total Est. Domestic Video Sales (USD)  2742 non-null   float64
 9   Opening Weekend (USD)                  5396 non-null   float64
 10  MPAA Rating                            6103 non-null   object
dtypes: float64(5), int64(4), object(2)
memory usage: 551.8+ KB

In [31]:
## import CPI data

cpi_df = pd.read_csv("https://github.com/Rhyannon-CUNY/adv-data-class/blob/main/CPI%20-%20Data.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 42, saw 49