# Call and Response Challenge

## import libraries

## import data

## function to account for inflation 

## merge datasets

In [3]:
## import  libraries 

import pandas as pd

## run the 

pd.options.display.float_format = '{:,.0f}'.format

In [4]:
df_movies = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/movie_sales_2025.csv")
df_movies.head()

,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,Star Wars Ep. VII: The Force Awakens,2015,533200000,936662225,2056046835,"936,662,225","1,119,384,610","2,056,046,835","191,160,811","247,966,675",PG-13
1,Avatar: The Way of Water,2022,460000000,684075767,2315589775,"684,075,767","1,631,514,008","2,315,589,775","19,136,524","134,100,226",PG-13
2,Indiana Jones and the Dial of Destiny,2023,402300000,174480468,383963057,"174,480,468","209,482,589","383,963,057",NaN,"60,368,101",PG-13
3,Avengers: Endgame,2019,400000000,858373000,2748242781,"858,373,000","1,889,869,781","2,748,242,781","107,868,989","357,115,007",PG-13
4,Mission: Impossible—The Final Reckoning,2025,400000000,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## type 

df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Movie Name                             6420 non-null   object
 1   release year                           6420 non-null   int64
 2   Production Budget (USD)                6420 non-null   int64
 3   Domestic Gross (USD)                   6420 non-null   int64
 4   Worldwide Gross (USD)                  6420 non-null   int64
 5   Domestic Box Office (USD)              5815 non-null   float64
 6   International Box Office (USD)         5007 non-null   float64
 7   Worldwide Box Office (USD)             5007 non-null   float64
 8   Total Est. Domestic Video Sales (USD)  2742 non-null   float64
 9   Opening Weekend (USD)                  5396 non-null   float64
 10  MPAA Rating                            6103 non-null   object
dtypes: float64(5), int64(4), object(2)
memory usage: 551.8+ KB

In [6]:
## import CPI data

df_cpi = pd.read_csv("CPI-Data.csv")

In [7]:
df_cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   CPI     112 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.9 KB

In [8]:
## top 10 worldwide, without adjusting for inflation

df_movies.sort_values(by=("Worldwide Box Office (USD)"), ascending = False).head(10)

,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
34,Avatar,2009,237000000,785221649,2923706026,"785,221,649","2,138,484,377","2,923,706,026","432,535,014","77,025,481",PG-13
3,Avengers: Endgame,2019,400000000,858373000,2748242781,"858,373,000","1,889,869,781","2,748,242,781","107,868,989","357,115,007",PG-13
1,Avatar: The Way of Water,2022,460000000,684075767,2315589775,"684,075,767","1,631,514,008","2,315,589,775","19,136,524","134,100,226",PG-13
59,Titanic,1997,200000000,674460013,2223048786,"674,460,013","1,548,588,773","2,223,048,786",NaN,"28,638,131",PG-13
0,Star Wars Ep. VII: The Force Awakens,2015,533200000,936662225,2056046835,"936,662,225","1,119,384,610","2,056,046,835","191,160,811","247,966,675",PG-13
9,Avengers: Infinity War,2018,300000000,678815482,2048359754,"678,815,482","1,369,544,272","2,048,359,754","104,094,022","257,698,183",PG-13
57,Spider-Man: No Way Home,2021,200000000,814811535,1921206586,"814,811,535","1,106,395,051","1,921,206,586","46,193,441","260,138,569",PG-13
60,Inside Out 2,2024,200000000,652980194,1698863816,"652,980,194","1,045,883,622","1,698,863,816",NaN,"154,201,673",PG
47,Jurassic World,2015,215000000,653406625,1671063641,"653,406,625","1,017,657,016","1,671,063,641","150,254,746","208,806,270",PG-13
19,The Lion King,2019,260000000,543638043,1661454403,"543,638,043","1,117,816,360","1,661,454,403","52,166,887","191,770,759",PG

## adjust for inflation

In [10]:
## write function 

def adjustInflation(old_value, old_cpi, current_cpi):
    return (old_value/old_cpi)*current_cpi

In [11]:
## merge 2 datasets 

df = pd.merge(df_cpi, df_movies, left_on = "Year", right_on = "release year")

df

,Year,CPI,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,1969,37,"Hello, Dolly",1969,24000000,33208099,33208213,"33,208,099",114,"33,208,213",NaN,NaN,G
1,1969,37,Paint Your Wagon,1969,20000000,31678778,31678778,"31,678,778",NaN,NaN,NaN,NaN,PG-13
2,1969,37,Sweet Charity,1969,20000000,8000000,8000000,"8,000,000",NaN,NaN,NaN,NaN,G
3,1969,37,On Her Majesty's Secret Service,1969,8000000,22800000,82000000,"22,800,000","59,200,000","82,000,000",NaN,NaN,PG
4,1969,37,Butch Cassidy and the Sundance Kid,1969,6000000,102308900,102311313,"102,308,900","2,413","102,311,313",NaN,NaN,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6252,2024,314,Unsung Hero,2024,6000000,20335239,21220422,"20,335,239","885,183","21,220,422",NaN,"7,731,539",PG
6253,2024,314,The Forge,2024,5000000,29123632,29705427,"29,123,632","581,795","29,705,427",NaN,"6,659,508",PG
6254,2024,314,Am I Racist?,2024,3000000,12311598,12311598,"12,311,598",NaN,NaN,NaN,"4,544,063",PG-13
6255,2024,314,Hanu Man,2024,2500000,2300000,9038053,"2,300,000","6,738,053","9,038,053",NaN,"2,300,000",NaN
6256,2024,314,Terrifier 3,2024,2000000,53981071,76338497,"53,981,071","22,357,426","76,338,497",NaN,"18,928,113",Not Rated

In [21]:
df.sample(20)

,Year,CPI,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
489,1991,136,Due occhi diabolici,1991,9000000,349618,349618,"349,618",NaN,NaN,NaN,NaN,R
2793,2007,207,Rendition,2007,27500000,9736045,26939925,"9,736,045","17,203,880","26,939,925","6,276,224","4,060,012",R
3650,2010,218,Inside Job,2010,2000000,4311834,7799257,"4,311,834","3,487,423","7,799,257","5,247,030","39,649",PG-13
4912,2015,237,Before We Go,2015,3000000,37151,483938,"37,151","446,787","483,938","440,252","18,630",PG-13
4066,2012,230,Seven Psychopaths,2012,13500000,15024049,33035736,"15,024,049","18,011,687","33,035,736","9,193,579","4,174,915",R
3258,2009,215,17 Again,2009,40000000,64167069,139474906,"64,167,069","75,307,837","139,474,906","29,729,230","23,722,310",PG-13
186,1982,96,Megaforce,1982,18000000,5675599,5675599,"5,675,599",NaN,NaN,NaN,"2,350,021",NaN
1092,1999,167,Inspector Gadget,1999,75000000,97387965,97387965,"97,387,965",NaN,NaN,NaN,"21,889,138",PG
4136,2012,230,Tim and Eric's Billion Dollar Movie,2012,3000000,201436,223652,"201,436","22,216","223,652",NaN,"87,475",R
216,1983,100,Staying Alive,1983,22000000,63841474,126041474,"63,841,474","62,200,000","126,041,474",NaN,"12,146,143",PG
4907,2015,237,Babysitting,2015,3400000,0,24564100,NaN,"24,564,100","24,564,100",NaN,NaN,NaN
4736,2015,237,Pourquoi j'ai pas mangé mon père,2015,42000000,0,15451663,NaN,"15,451,663","15,451,663",NaN,NaN,NaN
1495,2001,177,Scary Movie 2,2001,45000000,71277420,141189101,"71,277,420","69,911,681","141,189,101",NaN,"20,503,356",R
5328,2017,245,Renegades,2017,77500000,0,1521672,NaN,"1,521,672","1,521,672","3,476,910",NaN,PG-13
3728,2011,225,The Adjustment Bureau,2011,50200000,62495645,126931325,"62,495,645","64,435,680","126,931,325","18,402,673","21,157,730",PG-13
5835,2019,256,Overcomer,2019,5000000,34700142,38093564,"34,700,142","3,393,422","38,093,564","13,621,335","8,146,533",PG
3632,2010,218,George A. Romero's Survival of the Dead,2010,4200000,101740,101740,"101,740",NaN,NaN,"3,493,009","43,757",R
6072,2022,293,The Woman King,2022,50000000,67328130,94374749,"67,328,130","27,046,619","94,374,749","7,195,348","19,051,442",PG-13
3328,2009,215,Halloween 2,2009,15000000,33392973,38512850,"33,392,973","5,119,877","38,512,850","11,482,106","16,349,565",R
131,1980,82,Private Benjamin,1980,15000000,69847348,69847348,"69,847,348",NaN,NaN,NaN,"4,739,769",R

In [41]:
## update world wide numbers by applying function via lambda

df["updated_ww_box"] = df.apply(lambda x: adjustInflation(x["Worldwide Box Office (USD)"], x["CPI"], 313.689), axis =1)
df.head(10)

,Year,CPI,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating,updated_ww_box
0,1969,37,"Hello, Dolly",1969,24000000,33208099,33208213,"33,208,099",114,"33,208,213",NaN,NaN,G,"283,843,355"
1,1969,37,Paint Your Wagon,1969,20000000,31678778,31678778,"31,678,778",NaN,NaN,NaN,NaN,PG-13,NaN
2,1969,37,Sweet Charity,1969,20000000,8000000,8000000,"8,000,000",NaN,NaN,NaN,NaN,G,NaN
3,1969,37,On Her Majesty's Secret Service,1969,8000000,22800000,82000000,"22,800,000","59,200,000","82,000,000",NaN,NaN,PG,"700,885,504"
4,1969,37,Butch Cassidy and the Sundance Kid,1969,6000000,102308900,102311313,"102,308,900","2,413","102,311,313",NaN,NaN,PG,"874,494,100"
5,1969,37,The Wild Bunch,1969,6000000,509424,509424,"509,424",NaN,NaN,NaN,NaN,R,NaN
6,1969,37,Once Upon a Time in the West,1969,5000000,5321508,5380604,"5,321,508","59,096","5,380,604",NaN,NaN,PG-13,"45,990,090"
7,1969,37,Topaz,1969,4000000,6000000,6000000,"6,000,000",NaN,NaN,NaN,NaN,M/PG,NaN
8,1969,37,Midnight Cowboy,1969,3600000,44785053,44796719,"44,785,053","11,666","44,796,719",NaN,NaN,R,"382,894,768"
9,1969,37,Mississippi Mermaid,1969,1600000,27795,2627795,"27,795","2,600,000","2,627,795",NaN,NaN,R,"22,460,773"

In [47]:
## sort top 10

df.sort_values(by=("updated_ww_box"), ascending = False).head(10)[["release year","Movie Name", "Worldwide Box Office (USD)", "updated_ww_box"]]

,release year,Movie Name,Worldwide Box Office (USD),updated_ww_box
823,1997,Titanic,"2,223,048,786","4,344,834,583"
3196,2009,Avatar,"2,923,706,026","4,274,947,536"
86,1977,Star Wars Ep. IV: A New Hope,"775,398,007","4,013,759,495"
5688,2019,Avengers: Endgame,"2,748,242,781","3,372,070,899"
40,1973,The Exorcist,"428,887,855","3,030,121,674"
62,1975,Jaws,"484,351,938","2,824,086,897"
4680,2015,Star Wars Ep. VII: The Force Awakens,"2,056,046,835","2,721,151,966"
197,1982,E.T. the Extra-Terrestrial,"797,307,407","2,591,777,857"
5486,2018,Avengers: Infinity War,"2,048,359,754","2,558,861,055"
6038,2022,Avatar: The Way of Water,"2,315,589,775","2,482,018,216"

In [59]:
from IPython.display import display, HTML

# Top 10 not adjusted for inflation
top_unadjusted = df_movies.sort_values(by="Worldwide Box Office (USD)", ascending = False).head(10)[["release year", "Movie Name", "Worldwide Gross (USD)"]]

# Top 10 adjusted for inflation
top_adjusted = df.sort_values(by=("updated_ww_box"), ascending = False).head(10)[["Year", "Movie Name", "updated_ww_box", "Worldwide Gross (USD)"]]
# Side-by-side layout using flexbox
html = f"""
<div style="display: flex; justify-content: space-between; gap: 40px;">
    <div>
        <h3>Not Adjusted for Inflation</h3>
        {top_unadjusted.to_html(index=False)}
    </div>
    <div>
        <h3>Adjusted for Inflation</h3>
        {top_adjusted.to_html(index=False)}
    </div>
</div>
"""

display(HTML(html))