# Call and Response Challenge

## import libraries

## import data

## function to account for inflation 

## merge datasets

In [33]:
## import  libraries 

import pandas as pd

## run the 

pd.options.display.float_format = '{:,.0f}'.format

In [35]:
df_movies = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/movie_sales_2025.csv")
df_movies.head()

,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
0,Star Wars Ep. VII: The Force Awakens,2015,533200000,936662225,2056046835,"936,662,225","1,119,384,610","2,056,046,835","191,160,811","247,966,675",PG-13
1,Avatar: The Way of Water,2022,460000000,684075767,2315589775,"684,075,767","1,631,514,008","2,315,589,775","19,136,524","134,100,226",PG-13
2,Indiana Jones and the Dial of Destiny,2023,402300000,174480468,383963057,"174,480,468","209,482,589","383,963,057",NaN,"60,368,101",PG-13
3,Avengers: Endgame,2019,400000000,858373000,2748242781,"858,373,000","1,889,869,781","2,748,242,781","107,868,989","357,115,007",PG-13
4,Mission: Impossible—The Final Reckoning,2025,400000000,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
## type 

df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Movie Name                             6420 non-null   object
 1   release year                           6420 non-null   int64
 2   Production Budget (USD)                6420 non-null   int64
 3   Domestic Gross (USD)                   6420 non-null   int64
 4   Worldwide Gross (USD)                  6420 non-null   int64
 5   Domestic Box Office (USD)              5815 non-null   float64
 6   International Box Office (USD)         5007 non-null   float64
 7   Worldwide Box Office (USD)             5007 non-null   float64
 8   Total Est. Domestic Video Sales (USD)  2742 non-null   float64
 9   Opening Weekend (USD)                  5396 non-null   float64
 10  MPAA Rating                            6103 non-null   object
dtypes: float64(5), int64(4), object(2)
memory usage: 551.8+ KB

In [43]:
## import CPI data

df_cpi = pd.read_csv("CPI-Data.csv")

In [47]:
df_cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Avg     112 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.9 KB

In [49]:
## top 10 worldwide, without adjusting for inflation

df_movies.sort_values(by=("Worldwide Box Office (USD)"), ascending = False).head(10)

,Movie Name,release year,Production Budget (USD),Domestic Gross (USD),Worldwide Gross (USD),Domestic Box Office (USD),International Box Office (USD),Worldwide Box Office (USD),Total Est. Domestic Video Sales (USD),Opening Weekend (USD),MPAA Rating
34,Avatar,2009,237000000,785221649,2923706026,"785,221,649","2,138,484,377","2,923,706,026","432,535,014","77,025,481",PG-13
3,Avengers: Endgame,2019,400000000,858373000,2748242781,"858,373,000","1,889,869,781","2,748,242,781","107,868,989","357,115,007",PG-13
1,Avatar: The Way of Water,2022,460000000,684075767,2315589775,"684,075,767","1,631,514,008","2,315,589,775","19,136,524","134,100,226",PG-13
59,Titanic,1997,200000000,674460013,2223048786,"674,460,013","1,548,588,773","2,223,048,786",NaN,"28,638,131",PG-13
0,Star Wars Ep. VII: The Force Awakens,2015,533200000,936662225,2056046835,"936,662,225","1,119,384,610","2,056,046,835","191,160,811","247,966,675",PG-13
9,Avengers: Infinity War,2018,300000000,678815482,2048359754,"678,815,482","1,369,544,272","2,048,359,754","104,094,022","257,698,183",PG-13
57,Spider-Man: No Way Home,2021,200000000,814811535,1921206586,"814,811,535","1,106,395,051","1,921,206,586","46,193,441","260,138,569",PG-13
60,Inside Out 2,2024,200000000,652980194,1698863816,"652,980,194","1,045,883,622","1,698,863,816",NaN,"154,201,673",PG
47,Jurassic World,2015,215000000,653406625,1671063641,"653,406,625","1,017,657,016","1,671,063,641","150,254,746","208,806,270",PG-13
19,The Lion King,2019,260000000,543638043,1661454403,"543,638,043","1,117,816,360","1,661,454,403","52,166,887","191,770,759",PG

## adjust for inflation

In [59]:
## write function 

def adjustInflation(old_value, old_cpi, current_cpi):
    return (old_value/old_cpi)*current_cpi

In [ ]:
## merge 2 datasets 

df = pd.merge(df_cpi, df_movies, )